html, body, .mainbody {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map, #pano {
  float: left;
  height: 100%;
  width: 50%;
}
.map-area{
  height: 95vh;
}
#guessbutton{
  z-index: 99999999999;
}

.btn {
  display: block;
  margin: 10px auto;
}
.modal-dialog{
  min-width: 1000px;
}
#map-result {
  height: 500px;
}
.label-class {
  width: 50px;
  height: 20px;

  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}
